*{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: sans-serif;
	box-sizing: border-box;
}
p{
	font-size: 1.4rem;
}
h3{
	font-size: 1.6rem;
}
h4{
	font-size: 1.4rem;
}
h5{
	font-size: 1.2rem;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #b7c0cd;
}
html,body{
	height: 100%;
	overflow: hidden;
}
.overflowFa{
	overflow: hidden;
}
.overflowSon{
	width: calc(100% + 17px) !important;
	height: 100%;
	overflow-y: scroll;
}

#app{
	height: 100%;
}
.clearfix::after{
	display: block;
	height: 0;
	clear: both;
	content: "这是清除浮动"
	visibility: hidden;
}
#menu{
	width: 350px;
	height: 100%;
	float: left;
}
#menu .on{
	background: url(images/ActiveHighlight.png) no-repeat -11px;
}
.m-num{
	padding: 0 8px;
	height: 20px;
	background: #279cf3;
	border-radius: 100px;
	line-height: 20px;
	color: #fff;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
}
.selected{
	color: #fff;
}
.caveat{
	width: 20px;
	height: 20px;
	background: #e64528 url(images/!.png) no-repeat center;
	border-radius: 100px;
}

.nav{
	width: 100px;
	height: 100%;
	background: #1d2531;
	float: left;
	position: relative;
}
.nav .icons{
	width: 100%;
	position: absolute;
	top: 20px;
}
.nav .icons .icon-out{
	padding: 0 20px;
	width: 100%;
}
.nav .icons .icon{
	margin-bottom: 20px;
	display: block;
	width: 100%;
	height: 60px;
	border-radius: 100px;
}

.nav .icons .paper{
	background: url(images/PaperIcon.png) no-repeat center;
	background-color: #2a9ff6 ;
}
.nav .icons .rocket{
	background: #805de6 url(images/RocketIcon.png) no-repeat center;
}
.nav .icons .game{
	background: #d22e12 url(images/GameIcon.png) no-repeat center;
}
.nav .icons .plus{
	background: url(images/PlusIcon.png) no-repeat center;
	border: 3px #2d3848 solid;
}
.nav .features{
	padding: 15px 25px;
	width: 100px;
	height: 46px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
}
.nav .features .feature{
	width: 16px;
	height: 16px;
}
.nav .features .grid{
	background: url(images/Grid.png) no-repeat center;
}
.nav .features .settings{
	background: url(images/Settings.png) no-repeat center;
}

.menu{
	padding-bottom: 70px;
	width: 250px;
	height: 100%;
	background: #222c3c;
	float: right;
}
.menu .nav-menu,.menu .nav-products,.menu .nav-dashboard{
	width: 100%;
}
.menu .menu-nav .title{
	padding: 20px 0;
	border-top: 1px #5b6779 solid;
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
}
.menu .menu-nav .nav-menu .title{
	border: none;
}
.menu .menu-nav .title h5{
	color: #5b6779;
}
.menu .menu-nav li{
	margin: 0 0 20px;
	padding: 0 20px;
	height: 20px;
	display: flex;
	justify-content: space-between;
}
.menu .menu-nav li a{
	font-size: 1.4rem;
	display: flex;
}
.menu .menu-nav li a img{
	margin: auto;
	margin-right: 10px;
	width: 16px;
	vertical-align: middle;
}
.menu .menu-nav li>img{
	padding: 0 10px;
	display: inline-block;
	border-radius: 100px;
	background: #e64528;
}

.menu .menu-goals{
	padding: 10px 20px 20px;
	width: 250px;
	position: absolute;
	bottom: 0;
	left: 100px;
	background-color: #222c3c;
}
.menu .menu-goals .goals{
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.menu .menu-goals .goals span{
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
}
.menu .menu-goals .progress{
	width: 100%;
	height: 5px;
	border-radius: 100px;
	background: #2d3848;
}
.menu .menu-goals .progress span{
	width: 18.125%;
	height: 5px;
	background: linear-gradient(to right, #5d31de, #9c8de3);
	float: left;
	border-radius: 100px;
}


#message{
	margin-left: 350px;
	height: 100%;
}
#message .aevter{
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 45px 45px;
	border-radius: 100px;
	cursor: Pointer;
	float: left;
}
#message .on{
	padding-left: 27px;
	border-left: 3px #2399f1 solid;
}
#message .message .chats .chat .on .profile .name h3{
	color: #2399f1;
}
#message .m-num{
	margin: 6px 0 0 10px;
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
}
#message .header{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
}
#message .header span{
	margin: auto 30px;
	font-size: 2.4rem;
	color: #666;
}
#message .header .profile{
	margin: auto 30px;
	padding-right: 50px;
	display: flex;
	cursor: Pointer;
	background: url(images/dropdown.png) no-repeat right center;
}
#message .header .profile .aevter{
	width: 50px;
	height: 50px;
	background: url(images/Face15.png) no-repeat;
	background-size: 50px 50px;
	border-radius: 100px;
	position: relative;
}
#message .header .profile .aevter img{
	border: 3px #fff solid;
	background: #fff;
	border-radius: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
}
#message .header .profile .name{
	margin: auto 15px;
}
#message .header .profile .name h3{
	color: #2399f1;
}
#message .header .profile .name p{
	color: #b5b5b5;
}
#message .message{
	width: 100%;
	height: 100%;
}
#message .message .chats{
	width: 400px;
	height: 100%;
	float: left;
}
#message .message .chats .search{
	padding: 15px 30px;
	width: 100%;
	height: 70px;
	border: 1px #e2e2e2 solid;
	border-left: none;
	position: relative;
}
#message .message .chats .search input{
	padding-left: 15px;
	width: 335px;
	height: 35px;
	border: 1px #e2e2e2 solid;
	border-radius: 5px;
	font-size: 1.4rem;
}
#message .message .chats .search img{
	padding: 9.5px;
	width: 35px;
	height: 35px;
	position: absolute;
	right: 35px;
	bottom: 18px;
	border-radius: 5px;
	cursor: Pointer;
}
#message .message .chats .chat{
	padding-bottom: 150px;
	width: 100%;
	height: 100%;
	border-right: 1px #e2e2e2 solid;
}
#message .message .chats .chat li{
	padding: 15px 20px 20px 30px;
	width: 100%;
	height: 130px;
	border-bottom: 1px #e2e2e2 solid;
}
#message .message .chats .chat li .profile{
	margin-bottom: 10px;
	width: 100%;
	height: 45px;
}
#message .message .chats .chat li .profile .aevter[order="1"]{
	background-image: url(images/Face1.png);
}
#message .message .chats .chat li .profile .aevter[order="2"]{
	background-image: url(images/Face20.png);
}
#message .message .chats .chat li .profile .aevter[order="3"]{
	background-image: url(images/Face14.png);
}
#message .message .chats .chat li .profile .aevter[order="4"]{
	background-image: url(images/Face128.png);
}
#message .message .chats .chat li .profile .aevter[order="5"]{
	background-image: url(images/Face23.png);
}
#message .message .chats .chat li .profile .aevter[order="6"]{
	background-image: url(images/Face7.png);
}
#message .message .chats .chat li .profile .aevter[order="7"]{
	background-image: url(images/Face21.png);
}
#message .message .chats .chat li .profile .name{
	margin: 0 20px;
	float: left;
}
#message .message .chats .chat li .profile .name h3{
	color: #585d68;
}
#message .on .name h3 span{
	margin: 7px 5px 0 0;
	width: 7px;
	height: 7px;
	float: left;
	line-height: 1.5;
	border-radius: 100px;
	background-color: #0af;
}
#message .message .chats .chat li .profile .name p{
	color: #b5b5b5;
}
#message .message .chats .chat li .profile .date{
	float: right;
	color: #7f8fa4;
	font-weight: 700;
}
#message .message .chats .chat li .record{
	display: flex;
}
#message .message .chats .chat li .record p{
	height: 3em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 1.5em;
	overflow: hidden;
	color: #585d68;
}
#message .message .openchat{
	margin-left: 400px;
	height: 100%;
}
#message .message .openchat .title{
	padding: 0 20px 0 25px;
	width: 100%;
	height: 70px;
	border: 1px #e2e2e2 solid;
	border-left: none;
	border-right: none;
	display: flex;
	justify-content: space-between;
}
#message .message .openchat .title>span{
	margin: auto 0;
	min-width: 125px;
	color: #585d68;
	font-size: 1.8rem;
	display: flex;
}
#message .message .openchat .title>span span{
	margin: auto 7px;
	width: 7px;
	height: 7px;
	background-color: #1bb934;
	float: right;
	border-radius: 100px;
}
#message .message .openchat .title .tools{
	margin: auto 0;
	min-width: 290px;
	display: flex;
}
#message .message .openchat .title .tools .tool{
	margin-right: 20px;
	display: flex;
	border: 1px #ccc solid;
	border-radius: 5px;
	background: linear-gradient(to bottom, #fff, #f2f2f2);
}
#message .message .openchat .title .tools .tool li{
	width: 35px;
	height: 30px;
	display: flex;
	border-right: 1px #ccc solid;
	cursor: Pointer;
}
#message .message .openchat .title .tools .tool li:last-child{
	border: none;
}
#message .message .openchat .title .tools .tool li img{
	margin: auto;
}
#message .message .openchat .title .tools .page-turning{
	display: flex;
	border-left: 1px #f2f2f2 solid; 
}
#message .message .openchat .title .tools .page-turning h4{
	margin: auto 20px;
	color: #56688a;
}
#message .message .openchat .title .tools .page-turning .tool{
	margin: 0;
}
#message .message .openchat .content{
	padding-top: 10px;
	padding-bottom: 230px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#message .message .openchat .content .day{
	padding: 15px 50px 15px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#message .message .openchat .content .day .day-message[name="jj"]{
	margin-top: 20px;
}
#message .message .openchat .content .day .day-message .aevter[name="bb"]{
	background-image: url(images/Face1.png);
}
#message .message .openchat .content .day .day-message .aevter[name="jj"]{
	background-image: url(images/Face15.png);
}
#message .message .openchat .content .day .day-message .chat-message{
	margin-left: 65px;
}
#message .message .openchat .content .day .day-message .chat-message h3{
	color: #585d68;
}
#message .message .openchat .content .day .day-message .chat-message span{
	margin-left: 5px;
	font-size: 1.4rem;
	color: #7f8fa4;
}
#message .message .openchat .content .day .day-message .chat-message p{
	color: #585d68;
}
#message .message .openchat .content .day-border{
	display: flex;
}
#message .message .openchat .content .day-border .border{
	margin: auto;
	padding: 0.5px 0;
	flex: 1;
	border-top: 1px #e2e2e2 solid;
}
#message .message .openchat .content .day-border .date{
	margin: auto 20px;
	color: #7f8fa4;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: center;
}
#message .message .openchat .content .day .day-message .chat-message .images{
	margin-top: 15px;
	display: flex;
}
#message .message .openchat .content .day .day-message .chat-message .images .img{
	margin-right: 15px;
	position: relative;
	height: 100px;
	background-color: #000;
	border-radius: 5px;
}
#message .message .openchat .content .day .day-message .chat-message .images .img img{
	border-radius: 5px;
}
#message .message .openchat .content .day .day-message .chat-message .images .img .foreground{
	width: 50px;
	height: 50px;
	display: none;
	position: absolute;
	top: 25px;
	left: 53px;
	background: rgba(255,255,255,0.25);
	border-radius: 100px;
}
#message .message .openchat .content .day .day-message .chat-message .images .img .foreground img{
	margin: auto;
	width: 16px;
	height: 16px;
}
#message .message .openchat .content .day .day-message .chat-message .images .img:hover>img{
	opacity: 0.5; 
}
#message .message .openchat .content .day .day-message .chat-message .images .img:hover .foreground{
	display: flex;
}
#message .message .openchat .content .m-new .border{
	border-color:  #2399f1;
}
#message .message .openchat .content .m-new .date{
	color: #2399f1;
}
#message .message .openchat .content form{
	padding: 10px 30px 20px 30px;
	width: calc(100% - 750px);
	height: 80px;
	position: absolute;
	left: 750px;
	bottom: 0;
	background-color: #fff;
}
#message .message .openchat .content form [type="submit"]{
	width: 50px;
	height: 50px;
	background: url(images/AddIcon.png) no-repeat center,linear-gradient(to bottom, #fff, #f2f2f2);
	border: 1px #c2c2c2 solid;
	border-radius: 5px 0 0 5px;
	float: left;
}
#message .message .openchat .content form [type="text"]{
	padding: 0 20px;
	width: calc(100% - 50px);
	height: 100%;
	border: 1px #e2e2e2 solid;
	border-left: none;
	border-radius: 0 5px 5px 0;
	font-size: 1.4rem;
}