<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="restaurant">
		<div id="money">100000</div>
		<div id="kitchen">
			<ul>
				<li>空闲</li>
			</ul>
			<img src="images/cooker.png" id="cooker">
		</div><!-- kitchen END -->
		<div id="cashier">
			<img src="images/shouYing.png" id="waiter">
			<div id="cashRegister">
				收银机
			</div>
			<div id="cashDesk">
				收银台
			</div>
		</div><!-- cashier END -->
		<div id="diningArea">
			<div id="seat"></div>
			<div id="status"></div>
			<div id="cust">
				<img src="">
				<span></span>
			</div>
		</div><!-- diningArea END -->
		<div id="waitList"></div>
		<button>来客</button>
		<button>离开</button>
	</div><!-- restaurant END -->


	<script type="text/javascript" src="js/restaurant.js"></script>
	<script type="text/javascript" src="js/staff.js"></script>
	<script type="text/javascript" src="js/dishes.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/customer.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>